div.box {
  width: 80%;
  /*使用padding和hidden的特性代替height实现宽高成比例
  height: 0;
  padding-bottom: 60%;
  然后蓝莓突然良心发现，内容撑起边框岂不更好，这东西太暴力了(･_･;*/
  text-align: center;
  margin: 17.8px auto;
  background: #fff;
  border-radius: 2.78px;
  overflow: hidden;
  text-shadow: 0 0 2.53px black;
}
div.box a:active, div.box a:hover {
  text-shadow: 0 0 4.57px black;
  text-decoration: none;
}
div.box a:link, div.box a:visited {
  border-radius: 8.5px;
  top: 3.64px;
  position: relative;
}
div.box img {
  width: 30%;
  margin: 5%;
  border-radius: 10.8px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
div.card {
  position: relative;
}
div.card:after, div.card:before {
  z-index: -1;
  content: '';
  background: #f00;
  position: absolute;
  top:50%;bottom:0;left: 10px;right:10px;
  border-radius: 100px/10px;
}